.mycarouselbox {
    max-width: 1280px;
    height: 500px;
    width: 100%;
    position: relative;
}

.mycarousel_controls {
    display: none;
    animation: dissolveout 1s;
}

.mycarouselbox:hover .mycarousel_controls{
    display: block;
    animation: dissolvein 1s;
    cursor: pointer;
}


@keyframes dissolvein {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
          }
}
@keyframes dissolveout {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0;
          }
}

.mycarousel_controls i {
    color: rgb(180, 180, 180);
}

#arrowup {
    position: absolute;
    top: 20px;
    translate: -50% 0%;
    left: 50%;
}

#arrowdown {
    position: absolute;
    bottom: 20px;
    translate: -50% 0%;
    left: 50%;
}

.mycarousel_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.614);

}

.mycarousel_item {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

